
<nav>
  <div class="logo-section" [routerLink]="['/']">
    <img src="assets/img/Vector.png"> <span>mybondoo</span>
  </div>
  <button *ngIf="sessionService.checkUserSection()!=true" [routerLink]="['/login']" class="btn-c">Sign in or Register</button>

   <div  *ngIf="sessionService.checkUserSection() && sessionService.getUserProperty('userRole')=='USER' "  ngbDropdown  >
    <button ngbDropdownToggle  class="btn-c">{{sessionService.getUserProperty("firstName")}}</button>
    <div ngbDropdownMenu class="btn-list">
      <button ngbDropdownItem  [routerLink]="['/user/panel']">My orders</button>
      <button ngbDropdownItem (click)="logout()">Sign out</button>
     
    </div>
  </div> 


  <div  *ngIf="sessionService.checkUserSection() && sessionService.getUserProperty('userRole')=='ADMIN' "  ngbDropdown  >
    <button ngbDropdownToggle  class="btn-c">{{sessionService.getUserProperty("firstName")}}</button>
    <div ngbDropdownMenu class="btn-list">
      <button ngbDropdownItem  [routerLink]="['/admin/panel']">Cutomer orders</button>
      <button ngbDropdownItem (click)="logout()">Sign out</button>
     
    </div>
  </div> 


</nav>